<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head th:inline="text">[[${#httpServletRequest.remoteUser}]]'s Dashboard</head>
      <body>
      
      Header with username in subtext
      with nav bar below
      
      Profile Summary
      edit link
      
      <div class="container">
      		<div class="flex11a">
      			<div th:fragment="fragments : user-summary">
      			</div>
      	
      	
      	
      	
      		</div>
      		<div class="flex21a">
      			<div th:fragment="fragments : user-claim-table">
      			</div>
      	
      	
      	
      	</div>
      
      </div>
      claim history table
      new claim link 
      
      
      </body>